body, html {
    height: 100%;
}

.navigation-menu {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color:rgba(53, 53, 53, 0.80);
}

.navigation-menu a, .navigation-menu a:hover{
    color: white;
}

/* -------------------- NavBar Hover Animation(Test) -------------------- */

.stroke ul li a, .stroke ul li a:after, .stroke ul li a:before {
    transition: all .5s;
}

.stroke ul li a {
    position: relative;
}

.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;
}

.stroke ul li a:hover:after {
    width: 100%;
}

.bgImage {
    background-image: url("Images/Lofi\ Image.svg");
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
}

.card {
    width: 300px;
    height: 300px;
    margin: auto;
}

